@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,100,300);


body{
	margin:0px;
}

p{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 15;

}
.menu{
	
	text-align: center;
	height: 12vh;
	margin-top: 5vh;
}

h1{
	width: 50vw;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 30;

}
#head{
	
	/*background-color: yel;*/
}

#map{
	width: 100vw;
	height: 80vh;
	background-color: black;
}

#aquablu{
	background-color: red;
	width: 50vw;
	height:80vh;
	position: fixed;
	left: 150vw;
	top: 20vh;
}

#aquabluContainer{
	background-color: orange;
	margin-left: 3vw;
	margin-top: 5vh;
}